body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 70px;
  background-color: whitesmoke;
}

.carousel-caption{
  z-index:10;
  color:#fff;
  text-align:center;
  top:50%;
  bottom:auto;
  -webkit-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  transform:translate(0, -50%);
}

.navbar {
 
  box-shadow: 2px 2px 10px #3292a6;
  opacity: 1;
  background: #fff; }
  .navbar .nav-item .nav-link{
    color: rgba(17,17,17,1) !important;
    font-weight: 600 !important;
    font-size: 14px;
    padding-right: 3rem;
    letter-spacing: 3px;
  }
  
.navbar-light .navbar-toggler {
    border: 0px;
    color: rgba(17,17,17,1) !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.carousel-item {
    width: 100%;
    max-height: 900px;
    margin-bottom: 0px !important;
      
    }
    
.carousel-image-1 {
    background: url('img/dental1.jpg');
    background-size: cover;
    }
    
.carousel-image-2 {
    background: url('img/dental1.jpg');
    background-size: cover;
    }
    
.carousel-image-3 {
    background: url('img/dental1.jpg');
    background-size: cover;
}    

#boxes {
      margin-top: -70px;
      width: 90%;
      box-shadow: 10px 15px 50px grey;
}

.card {
      border-radius: 0%; }

#showcase-services {
  position: relative;
  background: url("../img/dental1.jpg") no-repeat;
  background-size: cover;
  min-height: 600px; }

.overlay {
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(30, 111, 128, 0.589);
    opacity: 0.2;
  }

.info-header {
  width: 100%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background: #3292a6;
  color: #fff; }
#authors .fab {
  color: #fff; }

@media (max-width: 768px) {
#showcase {
    min-height: 500px; }
  #showcase h1 {
      font-size: 4rem; }

.mb-resp {
    margin-bottom: 1rem; } }


#row-fixes{
  height: 800px !important;
}

#contact-container{
  background-color: rgba(150, 150, 150, 0.068);
}

.footer-text-color{
  color: rgb(185, 185, 185) !important;
  font-size: 14px;
}

.card-size{
  height: 300px !important;
}



.bg-primary{
  background-color: #56CFE1 !important;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,body {
  height: 100%;
}

.wrapper {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
}

#home-heading {
  
  position: relative;
max-width: 100%;
height: 50%;
  background: url('../img/teeth-bg-r.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}
  
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.445);
}
  

#icon-boxes{
    width: 100%;
    box-shadow: 7px 15px 20px grey;
}

#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}


.footer-social-icons .fab{
    color: white;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: whitesmoke;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background: #56CFE1;
  border-radius: 100px;
  
}
